<h1>Create a new session</h1>

<%= @login_error_message %><br />

<%= form_for :user, url: sessions_path do |f| %>
<%= 	f.label :username %>
<%=		f.text_field :username %><br />
<%=		f.label :password %>
<%=		f.password_field :password %><br />

<%=		f.submit 'Log-in' %><br />
<% end %>

<%= link_to "I don't have an account yet", home_path %>
