

<div id="mytext" style="margin-bottom: 40px">
<h2>All Answers</h2>
</div>

<% @question.answers.order(cached_votes_score: :desc).each do |answer| %>
    <div class="well">
    	<div id="mytext" style="margin-bottom: 25px">
			<h6>Answered by: <%= answer.user.username unless answer.user.blank? %></h6><br>
    		<%= answer.body %>
   	 	</div>


        <div class="caption" style="text-align:left;">

            <%= link_to like_answer_path(answer), class: "like", method: :put do %>
                <button type="button" class="btn btn-primary" aria-label="Left Align">
                    <span class="glyphicon glyphicon-thumbs-up glyphicon-align-center" aria-hidden="true"></span>
                    <span class="badge"> <%= answer.get_upvotes.size %> </span>
                </button>
            <% end %>

            <%= link_to unlike_answer_path(answer), class: "like", method: :put do %>
                <button type="button" class="btn btn-primary" aria-label="Left Align">
                    <span class="glyphicon glyphicon-thumbs-down glyphicon-align-center" aria-hidden="true"></span>
                    <span class="badge"> <%= answer.get_downvotes.size %> </span>
                </button>
            <% end %>

            </div>

        <%= if user_signed_in? && answer.user.id == current_user.id 
			button_to 'delete answer', [answer.question, answer], method: :delete, 
			data: { confirm: 'Are you sure?'}, class: 'btn btn-link'
		end %>
    </div>
<% end %>

