<%= form_with(model: [@question,@question.build], local: true) do |form| %>
	
	<p>
    <%= form.label :user %><br>
    <%= form.text_field :user %>
  </p>
  <p>
    <%= form.label :body %><br>
    <%= form.text_area :body %>
  </p>
  <p>
    <%= form.submit %>
  </p>

<% end %>