
<div class="container">

  <h2>Edit Question</h2><br>
   
  <%= form_with model: @question do |form| %>

    <p>
      <%= form.label :title %><br>
      <%= form.text_field :title %>
    </p>

    <p>
      <%= form.label :content %><br>
      <%= form.text_area :text, cols: "85", rows: "10"%>
    </p>
   
    <p>
      <%= form.submit "Edit Question", class: "btn btn-primary"%>
    </p>
    <%= link_to "Cancel", question_path, :class => 'btn btn-danger'%>
  <% end %>
</div>
