<h2> Editing a question </h2>

<%= form_with model: @question do |form| %>
  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>

  <p>
    <%= form.label :text %><br>
    <%= form.text_area :text %>
  </p>
 
  <p>
    <%= form.submit 'Update the question' %>
  </p>
	 
<% end %>