
<!--Main page listing all the questions.
Every content on this page is aligned to the center.
Each question is separated with bootstrap wells containing the title of the question in blue, 
a sample of the question and information about who asked the question (when and last updated)-->

<div id="mytext" style="margin-top: 30px">
	<div id="mytext" style="margin-bottom: 30px">
		<div id="mytext" style="margin-right: 165px">
			<h1 align="center"> Listing all Questions </h1>
		</div>
	</div>
</div>
<div class="col-xs-6 col-xs-offset-2">
	<div align="center">
	<%= will_paginate %>
	</div>
</div>
<div class="col-xs-6 col-xs-offset-2">
	<% @questions.each do |question| %>
		<div class="row">
			<div class="well well-lg">
				<div align="center">
					<div class="question-title">
						<%= link_to question.title, question_path(question)%>
					</div>
					<div class="question-body">
						<%= truncate(question.text, length: 30) %>
					</div>
					<div class="question-meta-details">
					<small><p>Asked by: <%= question.user.username unless question.user == nil %>
					<%= time_ago_in_words(question.created_at) %> ago, last updated: <%= time_ago_in_words(question.updated_at)%> ago</small>
					 </p>
					</div>
				</div>
			</div>
		</div>
	<% end%>
	<div align="center">
		<%= will_paginate %>
	</div>
</div>

