
<div id="mytext" style="margin-top: 30px">
	<div id="mytext" style="margin-bottom: 30px">
		<div id="mytext" style="margin-right: 165px">
		<h1 align="center"> Listing all Questions </h1>	
	</div>
</div>
</div>

<div class="col-xs-6 col-xs-offset-2">

<% @questions.each do |question| %>

	<div class="row">

		<div class="well well-lg">

			<div align="center">
			<div class="question-title">
				<%= link_to question.title, question_path(question) %>
			</div>

				<div class="question-body">
					<%= truncate(question.text, length: 100) %>
					<div class= "question-meta-details">
						<small>Created by: <%= question.user.username if question.user %>,
						     	<%= time_ago_in_words(question.created_at) %> ago,
						     	last updated: <%= time_ago_in_words(question.updated_at) %> ago</small>
				  </div>
				</div>
			</div>
			</div>
    	</div>
<% end%>

<div id="mytext" style="margin-top: 30px"> <!--bottom margin in CSS coding-->
	<div id="mytext" style="margin-bottom: 50px">
	<%= link_to "Ask a Question", new_question_path, :class => 'btn btn-primary'%>
</div>
</div>
</div>