<h2> New question </h2>

<%= form_with scope: :question, url: questions_path ,local: true do |form| %>
  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>
 
  <p>
    <%= form.label :text %><br>
    <%= form.text_area :text %>
  </p>
 
  <p>
    <%= form.submit 'Post a question' %>
  </p>
<% end %>