<!DOCTYPE html>
<html lang="en">
<head>
  
  <title>New Question</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>

<body>

<div class="container">
    <div class="form-group">

    <form action="/questions" class="new_question" id="new_question" method="post">

    <h2> New Question </h2><br>

      <% if @question.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@question.errors.count, "error") %> prohibited
        this article from being saved:              
      </h2>
      <ul>
        <% @question.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

    <br>

    <%= form_with model: @question do |form| %>

    <p>
      <%= form.label :title %><br>
      <%= form.text_field :title %>
    </p>

    <p>
      <%= form.label :content %><br>
      <%= form.text_area :text, cols: "85", rows: "10"%>
    </p>
    <br><br>
      <%= form.submit "Post Question", class: "btn btn-primary"%>
    <br><br>
  </form>
  <%end %>
  
  <%= link_to "Cancel", questions_path, :class => 'btn btn-danger'%>

  </div>
</div>

</body>
</html>

