
<div class="container">
	<h1> <%= @question.title %> </h1>

	<hr>
	<br>
	<div class="container">
		<div class="well well-lg">
			<p> <%= @question.text %> </p>
			<br>

			<div class="question_actions">
				<br>
				<%= if user_signed_in? && @question.user.id == current_user.id
						link_to "Edit", edit_question_path(@question), class: "btn btn-primary"
					end %>

				<div style="margin-top: 10px">
				<%= if user_signed_in? && @question.user.id == current_user.id
						button_to 'Delete', question_path(@question), method: :delete, data: { confirm: 'Are you sure?' },
						class: 'btn-sm btn-danger'
					end %>
				</div>
				<br>

			</div>
		</div>

<!--CSS code to change the style of the lines-->
	<style>
		hr{
			width: 100%;
			color: #000000;
			height: 3px;
		}
	</style>

	<hr>
		<%= render 'answers/answer' %>

		<div style="margin-top: 45px"> <!--bottom margin in CSS coding-->
			<%= render 'answers/form' unless user_signed_in? == false %>
		</div>

		<div style="margin-top: 50px"> <!--bottom margin in CSS coding-->
			<div style="margin-bottom: 65px">
			<%= link_to "Return to main page", questions_path, :class => 'btn btn-primary'%>
		</div>
	</div>

	</div>
</div>
