<div class="container">
<head>
		<h2> <%= @question.title %> </h2>
</head>
<hr>
<br>

<body>
	<div class="container">
		<p> <%= @question.text %> </p>
		<br><br>
		<div class="questions buttons">
		<%= link_to "Edit", edit_question_path(@question), method: :edit, class: "btn btn-primary" %>
		<%= link_to "Delete", question_path(@question), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-danger" %> <br>
		</div>

		<hr>
		<br> <br>	

		<h3>All Answers</h3>
		<div class="container">
		  <%= render @question.answers %>
 
      <h2>Leave an answer:</h2>
      <%= render 'answers/form' %>
		</div>

		<br> <br>
		
		<%= link_to "Return to main page", questions_path, :class => 'btn btn-primary'%>
	</div>
</body>


