<h2> <%= @question.title %> </h2>
<p> <%= @question.text %> </p>

<%= button_to 'Edit', edit_question_path(@question), method: :get %> <br>
<%= button_to 'Delete', question_path(@question), method: :delete, 
	data: { confirm: 'Are you sure?' }%>
<%= button_to 'Back', questions_path, method: :get%>