<h2> <%= @question.title %> </h2>
<p> <%= @question.text %> </p>
<hr>
<br>
<%= button_to 'Edit', edit_question_path(@question), method: :get %>
<%= button_to 'Delete', question_path(@question), method: :delete, 
	data: { confirm: 'Are you sure?' }%> <br> <br>
<%= button_to 'Back', questions_path, method: :get%>
<h2>Answers</h2>
<%= render @question.answers %>
 
<h2>Leave an answer:</h2>
<%= render 'answers/form' %>
 