<!DOCTYPE html>
<html>
  <head>
    <title>QAWebapp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav class="navbar regular">
        <div class="container">
           
             <div class="navbar-header">
                <%= link_to "Q&A WebApp", home_path, class: "navbar-brand" %>
            </div>

            <ul class="navbar-nav nav">
                <li>
                  <%= link_to "Sign Up", home_path %>
                </li>

              <% if @user.nil? %>
                    <li>
                        <%= link_to "Sign In", sessions_new_path %>
                    </li>
              <% else %>  
                    <li>
                      <%= link_to "Sign Out", users_destroy_path, method: :delete %>
                      </li>
              <% end %>    
            </ul>
            
            <% if @user.nil?%>
                <p>
                <%= link_to "Ask Question", home_path, class: "navbar-text navbar-link navbar-right signedout btn btn-danger" %>
                </p>
               
             <% else %>
                    <p>
                    <%= link_to "Ask Question", new_question_path, class: "navbar-text navbar-link navbar-right signedin btn btn-outline-success" %>
                    </p>
             <% end %>
            
        </div>
    </nav>

  <div class = "container">
    <%= yield %>
  </div> 

  </body>
</html>
